<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently student at
      <a class="underline-link" href="https://www.cmu.edu/" target="_blank">Carnegie Mellon University</a> designing and building technical artifacts with some awesome people.
    </p>

    <p>
      As a computational designer, my work is situated between the technical and the creative &mdash; synthesizing architecture, machine learning, &amp; programming to create software and other technical artifacts that can help understand the world differently.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably skiing, reading,
      or getting myself a nice cup of coffee.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
